In [242]:
import lxml
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

In [243]:
from fake_useragent import UserAgent                
ua = UserAgent()
headers = {'User-Agent': ua.random}

In [244]:
url = "https://www.transfermarkt.es/valencia-cf/transferstroeme/verein/1049/plus/2?saisonIdVon=2013&saisonIdBis=2022&zuab=zu&verein_id=6182"

In [245]:
jugador = requests.get(url, headers=headers)

In [246]:
jugador = BeautifulSoup(jugador.text, "html.parser")

In [247]:
debutantes = {
    "Nombre": [],
    "Edad debut":[],
    "Nacionalidad": [],
    "Fecha Primer equipo":[]
}

In [248]:
nombres_jug = jugador.find_all('img', class_='bilderrahmen-fixed lazy lazy')
for nombre in nombres_jug:
    #jugador24 = nombre["title"]
    debutantes["Nombre"].append(nombre["title"])

In [249]:
edad_actual = jugador.find_all("td",class_ = "zentriert")

longitud=(len(edad_actual)-1) 

valores_edad = [edad_actual[i].text.strip() for i in range(4, longitud, 2)]

debutantes["Edad debut"] = valores_edad

In [250]:
nacionalidades = jugador.find_all("td", class_='zentriert')
primera_vez = True
for nacion in nacionalidades:
    img = nacion.find_all("img")
    if img:
        if primera_vez:
            primera_vez = False
            continue
        #print(img[0].get("title"))
        debutantes["Nacionalidad"].append(img[0].get("title"))

In [251]:
debutantes

{'Nombre': ['Carles Gil',
  'Toni Lato',
  'Juan Bernat',
  'José Gayà',
  'Kang-in Lee',
  'Álex Centelles',
  'Koba Koindredi',
  'Cristhian Mosquera',
  'Jesús Vázquez',
  'Carlos Soler',
  'Nacho Vidal',
  'Nacho Gil',
  'Fran Villalba',
  'Álex Blanco',
  'Javi Jiménez',
  'Cristian Rivero',
  'Hugo Guillamón',
  'Yunus Musah',
  'Jaume Doménech',
  'Fede Cartabia',
  'Rober Ibáñez',
  'Ferran Torres'],
 'Edad debut': ['21',
  '19',
  '20',
  '19',
  '17',
  '19',
  '20',
  '18',
  '18',
  '19',
  '22',
  '21',
  '20',
  '20',
  '23',
  '22',
  '20',
  '17',
  '24',
  '20',
  '21',
  '17'],
 'Nacionalidad': ['España',
  'España',
  'España',
  'España',
  'Corea del Sur',
  'España',
  'Francia',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'Estados Unidos',
  'España',
  'Emiratos Árabes Unidos',
  'España',
  'España'],
 'Fecha Primer equipo': []}

In [252]:
primer_equipo = jugador.find_all("td",class_="rechts")

longitud_inco=(len(primer_equipo))

incorporacion = [primer_equipo[i].get_text(strip=True) for i in range(2, longitud_inco, 3)]

debutantes["Fecha Primer equipo"] = incorporacion

In [253]:
debutantes

{'Nombre': ['Carles Gil',
  'Toni Lato',
  'Juan Bernat',
  'José Gayà',
  'Kang-in Lee',
  'Álex Centelles',
  'Koba Koindredi',
  'Cristhian Mosquera',
  'Jesús Vázquez',
  'Carlos Soler',
  'Nacho Vidal',
  'Nacho Gil',
  'Fran Villalba',
  'Álex Blanco',
  'Javi Jiménez',
  'Cristian Rivero',
  'Hugo Guillamón',
  'Yunus Musah',
  'Jaume Doménech',
  'Fede Cartabia',
  'Rober Ibáñez',
  'Ferran Torres'],
 'Edad debut': ['21',
  '19',
  '20',
  '19',
  '17',
  '19',
  '20',
  '18',
  '18',
  '19',
  '22',
  '21',
  '20',
  '20',
  '23',
  '22',
  '20',
  '17',
  '24',
  '20',
  '21',
  '17'],
 'Nacionalidad': ['España',
  'España',
  'España',
  'España',
  'Corea del Sur',
  'España',
  'Francia',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'España',
  'Estados Unidos',
  'España',
  'Emiratos Árabes Unidos',
  'España',
  'España'],
 'Fecha Primer equipo': ['01/07/2014',
  '01/07/2017',
  '01/07/2013',
  '01/07/2014',
  '30/01/2019',
  '01/07/2019',
  '31/01/2022',
  '01/01/2023',
  '01/01/2022',
  '01/01/2017',
  '01/07/2017',
  '01/07/2017',
  '01/07/2018',
  '30/01/2019',
  '01/08/2020',
  '01/08/2020',
  '01/07/2020',
  '01/08/2020',
  '01/07/2015',
  '01/07/2013',
  '01/07/2014',
  '01/01/2018']}

In [254]:
debut_jovenes = pd.DataFrame(debutantes)

In [255]:
debut_jovenes["Fecha Primer equipo"] = pd.to_datetime(debut_jovenes["Fecha Primer equipo"], format="mixed")

In [256]:
debut_jovenes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombre               22 non-null     object
 1   Edad debut           22 non-null     object
 2   Nacionalidad         22 non-null     object
 3   Fecha Primer equipo  22 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 836.0+ bytes

In [257]:
debut_jovenes.head(22)

                Nombre Edad debut            Nacionalidad Fecha Primer equipo
0           Carles Gil         21                  España          2014-01-07
1            Toni Lato         19                  España          2017-01-07
2          Juan Bernat         20                  España          2013-01-07
3            José Gayà         19                  España          2014-01-07
4          Kang-in Lee         17           Corea del Sur          2019-01-30
5       Álex Centelles         19                  España          2019-01-07
6       Koba Koindredi         20                 Francia          2022-01-31
7   Cristhian Mosquera         18                  España          2023-01-01
8        Jesús Vázquez         18                  España          2022-01-01
9         Carlos Soler         19                  España          2017-01-01
10         Nacho Vidal         22                  España          2017-01-07
11           Nacho Gil         21                  España          2017-01-07
12       Fran Villalba         20                  España          2018-01-07
13         Álex Blanco         20                  España          2019-01-30
14        Javi Jiménez         23                  España          2020-01-08
15     Cristian Rivero         22                  España          2020-01-08
16      Hugo Guillamón         20                  España          2020-01-07
17         Yunus Musah         17          Estados Unidos          2020-01-08
18      Jaume Doménech         24                  España          2015-01-07
19       Fede Cartabia         20  Emiratos Árabes Unidos          2013-01-07
20        Rober Ibáñez         21                  España          2014-01-07
21       Ferran Torres         17                  España          2018-01-01

In [258]:
ruta="D:\DATASCIENCE\Repositorios\ONLINE_DS_THEBRIDGE_RAULSOLER\Proyecto EDA\LIMGOHOME\DatasLimpios\debut_jovenes.csv"

debut_jovenes.to_csv(ruta, index="False")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\raul_\AppData\Local\Temp\ipykernel_13260\3951320973.py:1: SyntaxWarning: invalid escape sequence '\D'
  ruta="D:\DATASCIENCE\Repositorios\ONLINE_DS_THEBRIDGE_RAULSOLER\Proyecto EDA\LIMGOHOME\DatasLimpios\debut_jovenes.csv"